<h2>Ratings</h2>
<p style="text-align: center">To remove a rating, select the "blank" value in the pulldown menu and resave the list.</p>
<%# index = 0 %>
<%= simple_form_for @ratings_group do |rgf| %>
  <% @movies.each do |movie| %>
    <% rating = @ratings_group.ratings.where(movie: movie).first %>
    <% if !rating %>
      <% rating = @ratings_group.ratings.build(movie: movie, ballot: @ballot) %>
    <% end %>
  <%# @ratings_group.ratings do |rating| %>
    <%#= index %>
    <%# if index >= @offset && index <= @offset + 5 %>
    <%= rgf.simple_fields_for :ratings, rating do |rf| %>
      <div class="row">
        <div class="large-8 columns large-centered">
          <div class="small-2 columns large-offset-2">
            <%= rf.input :value, label: false, collection: [[0,0.0],[1,1.0],[1.5,1.5],[2,2.0],[2.5,2.5],[3,3.0],[3.5,3.5],[4,4.0]],required: false %>
          </div>
          <div class="small-6 columns end">
            <%= rating.movie.title %>
          </div>
        </div>
      </div>
      <%= rf.input :movie_id, as: :hidden %>
      <%= rf.input :ballot_id, as: :hidden %>
    <% end %>
    <%# index = index + 1 %>
  <% end %>
  <%= rgf.input :ballot_id, as: :hidden %>
  <%= hidden_field_tag :page, @page %>
  <div class="rating-button">
    <% if @last_page %>
      <%= rgf.submit "Save and return to ballot", class: "button" %>
    <% else %>
      <%= rgf.submit "Save and go to next page", class: "button" %>
    <% end %>
  </div>
  <br/>
  Go to page:
  <%= link_to "1", edit_ratings_group_path(@ratings_group, page: '1') %> /
  <%= link_to "2", edit_ratings_group_path(@ratings_group, page: '2') %> /
  <%= link_to "3", edit_ratings_group_path(@ratings_group, page: '3') %> /
  <%= link_to "4", edit_ratings_group_path(@ratings_group, page: '4') %> /
  <%= link_to "5", edit_ratings_group_path(@ratings_group, page: '5') %> /
  <%= link_to "6", edit_ratings_group_path(@ratings_group, page: '6') %> /
  <%= link_to "7", edit_ratings_group_path(@ratings_group, page: '7') %> /
  <%= link_to "8", edit_ratings_group_path(@ratings_group, page: '8') %> /
  <%= link_to "9", edit_ratings_group_path(@ratings_group, page: '9') %> /
  <%= link_to "10", edit_ratings_group_path(@ratings_group, page: '10') %> /
  <%= link_to "11", edit_ratings_group_path(@ratings_group, page: '11') %> /
  <%= link_to "12", edit_ratings_group_path(@ratings_group, page: '12') %> /
  <%= link_to "13", edit_ratings_group_path(@ratings_group, page: '13') %> /
  <%= link_to "14", edit_ratings_group_path(@ratings_group, page: '14') %> /
  <%= link_to "15", edit_ratings_group_path(@ratings_group, page: '15') %> /
  <%= link_to "16", edit_ratings_group_path(@ratings_group, page: '16') %> /
  <%= link_to "17", edit_ratings_group_path(@ratings_group, page: '17') %> /
  <%= link_to "18", edit_ratings_group_path(@ratings_group, page: '18') %> /
  <%= link_to "19", edit_ratings_group_path(@ratings_group, page: '19') %> /
  <%= link_to "20", edit_ratings_group_path(@ratings_group, page: '20') %> /
  <%= link_to "21", edit_ratings_group_path(@ratings_group, page: '21') %> /
  <%= link_to "22", edit_ratings_group_path(@ratings_group, page: '22') %> /
  <%= link_to "23", edit_ratings_group_path(@ratings_group, page: '23') %> /
  <%= link_to "24", edit_ratings_group_path(@ratings_group, page: '24') %> /
  <%= link_to "25", edit_ratings_group_path(@ratings_group, page: '25') %> /
  <%= link_to "26", edit_ratings_group_path(@ratings_group, page: '26') %> /
  <%= link_to "27", edit_ratings_group_path(@ratings_group, page: '27') %> /
  <%= link_to "28", edit_ratings_group_path(@ratings_group, page: '28') %> /
  <%= link_to "29", edit_ratings_group_path(@ratings_group, page: '29') %> /
  <%= link_to "30", edit_ratings_group_path(@ratings_group, page: '30') %> /
  <%= link_to "31", edit_ratings_group_path(@ratings_group, page: '31') %> /
  <%= link_to "32", edit_ratings_group_path(@ratings_group, page: '32') %> /
  <%= link_to "33", edit_ratings_group_path(@ratings_group, page: '33') %> /
  <%= link_to "34", edit_ratings_group_path(@ratings_group, page: '34') %> /
  <%= link_to "35", edit_ratings_group_path(@ratings_group, page: '35') %> /
  <%= link_to "36", edit_ratings_group_path(@ratings_group, page: '36') %> /
  <%= link_to "37", edit_ratings_group_path(@ratings_group, page: '37') %> /
  <%= link_to "38", edit_ratings_group_path(@ratings_group, page: '38') %> /
  <%= link_to "39", edit_ratings_group_path(@ratings_group, page: '39') %> /
  <%= link_to "40", edit_ratings_group_path(@ratings_group, page: '40') %> /
  <%= link_to "41", edit_ratings_group_path(@ratings_group, page: '41') %>


  <p style="font-size: .9em; text-align: center;">Be aware that using these links to jump to a page does not save newly entered ratings on the current page.</p>
  <div class="rating-link">
    <%= link_to "Return to ballot", ballot_path(@ballot) %>
  </div>
<% end %>
