<%= @ballot.user.name %>'s ballot for <%= @year.name %>

<div class="row ballot-categories">
  <div class="small-12 medium-6 columns">
    <h3>Best Picture</h3>
    <ul>
    <% @ballot.movie_votes_by_points(Category.best_picture).each do |v| %>
      <li><em><%= v.movie.title %></em> <%= v.points %></li>
    <% end %>
    </ul>
    <% if Time.now < @year.close_voting %>
      <%= link_to "Edit category", edit_category_ballot_path(@ballot, category_id: '1') %>
    <% end %>
  </div>


  <div class="small-12 medium-6 columns">
    <h3>Best Director</h3>
    <ul>
    <% @ballot.movie_votes_by_points(Category.best_director).each do |v| %>
      <li><%= v.movie.director_name %>, <em><%= v.movie.title %></em> <%= v.points %></li>
    <% end %>
    </ul>
  </div>

  <div class="small-12 medium-6 columns">
    <h4>Best Actress</h4>
    <ul>
    <% @ballot.credit_votes_by_points(Category.best_actress).each do |v| %>
      <li><%= v.credit.person.name %>, <em><%= v.credit.movie.title %></em> <%= v.points %></li>
    <% end %>
    </ul>
  </div>

  <div class="small-12 medium-6 columns">
    <h3>Best Actor</h3>
    <ul>
    <% @ballot.credit_votes_by_points(Category.best_actor).each do |v| %>
      <li><%= v.credit.person.name %>, <em><%= v.credit.movie.title %></em> <%= v.points %></li>
    <% end %>
    </ul>

  </div>

  <div class="small-12 medium-6 columns">
    <h3>Best Supporting Actor</h3>
    <ul>
    <% @ballot.credit_votes_by_points(Category.best_supporting_actor).each do |v| %>
      <li><%= v.credit.person.name %>, <em><%= v.credit.movie.title %></em> <%= v.points %></li>
    <% end %>
    </ul>
  </div>

  <div class="small-12 medium-6 columns">
    <h3>Best Supporting Actress</h3>
    <ul>
    <% @ballot.credit_votes_by_points(Category.best_supporting_actress).each do |v| %>
      <li><%= v.credit.person.name %>, <em><%= v.credit.movie.title %></em> <%= v.points %></li>
    <% end %>
    </ul>

  </div>

  <div class="small-12 medium-6 columns">
    <h3>Best Screenplay</h4>
    <ul>
    <% @ballot.movie_votes_by_points(Category.best_screenplay).each do |v| %>
      <li><%= v.movie.screenwriter_name %>, <em><%= v.movie.title %> </em> <%= v.points %></li>
    <% end %>
    </ul>
  </div>

  <div class="small-12 medium-6 columns">
    <h3>Best Scene</h3>
    <ul>
    <% @ballot.scene_votes_by_points.each do |v| %>
      <li><%= v.scene.title %>, <em><%= v.scene.movie.title %></em> <%= v.points %></li>
    <% end %>
    </ul>
</div>

<div id="ballot-top-ten">
  <h3>Top Ten List</h3>

  <ul>
  <% @ballot.top_ten_entries.by_rank.each do |tte| %>
    <% if tte.rank == 0 %>
      <li><%= tte.value %></li>
    <% else %>
      <li><%= tte.rank %>. <%= tte.value %></li>
    <% end %>
  <% end %>
  </ul>
</div>

<% if @ballot.user_id != 12 && @ballot.user_id != 25 %>
<div id="ballot-ratings">
  <h3>Ratings</h3>

  <ul>
  <% @ballot.ratings_by_movie_title.each do |r| %>
    <li><%= r.movie.title %> <%= r.value %></li>
  <% end %>
  </ul>
</div>
<% end %>
