<%= render 'results/shared/results_header', year: @credit.year %>

<h2 id="results-title">Best <%= @category.name.capitalize %> votes for <%= @credit.person.name %> in <em><%= @credit.movie.title %></em></h2>

<ul id="credit-votes">
  <% additional_category = false %>
  <% @votes.each do |v| %>
    <li><%= v.ballot.user.name %> <%= v.points %>
    <% if v.category.name != @credit.category.name %>
      *
      <% additional_category = true %>
    <% end %></li>
  <% end %>
</ul>

<% if additional_category %>
  <p>* Vote was in <%= @credit.category.complementary_category.name.titleize %> category.</p>
<% end %>
