<h2><%= @user.name %></h2>

<h3>Ballots</h3>

<ul class="ballot-list">
<% if @active_year_ballot %>
  <% if @active_year_ballot.complete? %>
    <li><%= link_to "View " + @year.name + " ballot", results_ballot_path(@active_year_ballot) %></li>
  <% else %>
    <li><%= link_to "Edit " + @year.name + " ballot", ballot_path(@active_year_ballot) %></li>
  <% end %>
<% elsif @year %>
  <li><%=  link_to "Create " + @year.name + " ballot", new_ballot_path %></li>
<% end %>

<% @past_ballots.each do |ballot| %>
  <% if ballot.complete? %>
    <li><%= link_to "View " + ballot.year.name + " ballot", results_ballot_path(ballot) %></li>
  <% end %>
<% end %>
</ul>
