<%= render 'results/shared/results_header', year: @year %>

<h2 id="results-title">Average Ratings</h2>

<p class="explanation">Ratings were assigned using a Maltin-style four-star system, with no 0.5 rating. N = number of participants who rated that film. Dev. = standard deviation; the higher the number, the greater the disagreement among voters. Titles in parentheses signify fewer than ten votes -- just an indication to take the rating with a pinch of salt.</p>

<p class="supplementary-ratings-link"><%= link_to "Films with fewer than five ratings", supplementary_ratings_results_movies_path(year: @year.name) %></p>

<table id="results-table">
  <tr>
    <th>Rank</th>
    <th>Movie</th>
    <th>Avg.</th>
    <th>N</th>
    <th>4</th>
    <th>3.5</th>
    <th>3</th>
    <th>2.5</th>
    <th>2</th>
    <th>1.5</th>
    <th>1</th>
    <th>0</th>
    <th>Dev.</th>
  </tr>
  <% hold_avg_rating = 0 %>
  <% @movies.each_with_index do |m, i| %>
    <tr>
      <% if m.average_rating == hold_avg_rating %>
        <td>&nbsp;</td>
      <% else %>
        <td><%= i + 1 %></td>
      <% end %>
      <td><%= m.ratings_results_display_format %></td>
      <td><%= m.average_rating %></td>
      <td><%= m.nbr_ratings %></td>
      <td><%= m.four_ratings %></td>
      <td><%= m.three_pt_five_ratings %></td>
      <td><%= m.three_ratings %></td>
      <td><%= m.two_pt_five_ratings %></td>
      <td><%= m.two_ratings %></td>
      <td><%= m.one_pt_five_ratings %></td>
      <td><%= m.one_ratings %></td>
      <td><%= m.zero_ratings %></td>
      <td><%= m.standard_dev %></td>
    </tr>
    <% hold_avg_rating = m.average_rating %>
  <% end %>
</table>
