<%= render 'results/shared/results_header', year: @movie.year %>

<% if @category.name == "screenplay" %>
  <h2 id="results-title">Best Screenplay votes for <%= @movie.screenwriter_name %>, <%= @movie.title %></h2>
<% elsif @category.name == "director" %>
  <h2 id="results-title">Best Director votes for <%= @movie.director_name %>, <%= @movie.title %></h2>
<% else %>
  <h2 id="results-title">Best Picture votes for <%= @movie.title %></h2>
<% end %>

<ul id="movie-votes">
<% @votes.each do |v| %>
  <li><%= v.ballot.user.name %> <%= v.points %></li>
<% end %>
</ul>
