<h2 id="results-title">Supplementary Ratings <%= @year.name %></h2>

<h3 class="results-subtitle">Films seen by less than five voters</h3>
<table id="results-table">
  <tr>
    <th>Movie</th>
    <th>Avg.</th>
    <th>Votes</th>
  </tr>
  <% @movies.each do |m| %>
    <tr>
      <td><%= m.title %></td>
      <td><%= m.average_rating %></td>
      <td>
        <% m.ratings.each_with_index do |r, i| %>
          <% if i == 0 %>(<% end %><%= r.ballot.user.last_name %> <%= r.value %><% if i != m.ratings.length - 1 %>, <% else %>)<% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<h3 class="results-subtitle">Films shunned by all and sundry</h3>

<table id="shunned-movies-table">
  <% @shunned_movies.each do |sm| %>
    <tr>
      <td><%= sm.title %></td>
    </tr>
  <% end %>
</table>
