<h2><%= @category.display_name %> votes</h2>
<div class="row">
  <div class="large-1 large-centered columns">
    <div id="point-total" class="label round">
    </div>
  </div>
</div>
<%= simple_form_for @category_vote_group do |cvgf| %>
  <%= cvgf.simple_fields_for :votes do |vf| %>
    <% if @category != Category.best_picture && @category != Category.best_director && @category != Category.best_screenplay %>
      <div class="large-8 columns large-centered">
        <% if @category == Category.best_scene %>
          <div class="large-5 columns">
            <%= vf.input :value, label: "Scene" %>
          </div>
        <% elsif @category == Category.best_actor || @category == Category.best_actress || @category == Category.best_supporting_actor || @category == Category.best_supporting_actress %>
          <div class="large-5 columns">
            <%= vf.input :value, label: "Performer" %>
          </div>
        <% end %>
        <div class="large-5 columns">
          <%= vf.association :movie, collection: @movies, required: false %>
        </div>
        <div class="large-1 columns end">
          <%= vf.input :points, required: false, input_html: { class: 'points-input'} %>
        </div>
      </div>
    <% else %>
      <div class="large-8 columns large-centered">
        <div class="large-6 columns large-offset-2">
          <%= vf.association :movie, collection: @movies, required: false %>
        </div>
        <div class="large-1 columns end">
          <%= vf.input :points, required: false, input_html: { class: 'points-input'} %>
        </div>
      </div>
    <% end %>
    <%= vf.input :ballot_id, as: :hidden %>
    <%= vf.input :category_id, as: :hidden %>
  <% end %>
  <%= cvgf.input :ballot_id, as: :hidden %>
  <%= cvgf.input :category_id, as: :hidden %>
  <div class="row">
    <div class="large-2 columns large-centered">
      <%= cvgf.submit "Save", class: "button" %>
      <%= link_to "Return to ballot", ballot_path(@category_vote_group.ballot) %>
    </div>
  </div>
<% end %>

