<%= render 'results/shared/results_header', year: @year %>

<h1>Best <%= @category.name.titleize %> <%= @year.name %></h1>

<table>
  <tr>
    <th>Rank</th>
    <% if @category.name != "picture" && @category.name != "scene" %>
      <th>Name</th>
    <% end %>
    <th>Movie</th>
    <th>Points/Votes</th>
  </tr>
<% if @category.name == "picture" || @category.name == "director" || @category.name == "screenplay" %>
  <% hold_points = 0 %>
  <% hold_votes = 0 %>
  <% @movies.each_with_index do |m, i| %>
    <% points_in_category = m.points_in_category(@category) %>
    <% nbr_votes_in_category = m.nbr_votes_in_category(@category) %>
    <tr>
      <% if points_in_category == hold_points && nbr_votes_in_category == hold_votes %>
        <td>&nbsp;</td>
      <% else %>
        <td><%= i + 1 %></td>
      <% end %>
      <% hold_points = points_in_category %>
      <% hold_votes = nbr_votes_in_category %>
      <% if @category.name == "director" %>
        <td><%= link_to m.director_name, results_movie_path(m, category: @category.id) %></td>
        <td><%= m.title %></td>
      <% elsif @category.name == "screenplay" %>
        <td><%= link_to m.screenwriter_name, results_movie_path(m, category: @category.id) %></td>
        <td><%= m.title %></td>
      <% else %>
        <td><%= link_to m.title, results_movie_path(m, category: @category.id) %></td>
      <% end %>
      <td><%= points_in_category %> / <%= nbr_votes_in_category %></td>
    </tr>
  <% end %>
<% elsif @category.name == "scene" %>
  <% hold_points = 0 %>
  <% hold_votes = 0 %>
  <% @scenes.each_with_index do |s, i| %>
    <tr>
      <% if s.points == hold_points && s.nbr_votes == hold_votes %>
        <td>&nbsp;</td>
      <% else %>
        <td><%= i + 1 %></td>
      <% end %>
      <% hold_points = s.points %>
      <% hold_votes = s.nbr_votes %>
      <td><%= link_to s.title, results_scene_path(s) %></td>
      <td><%= s.movie.title %></td>
      <td><%= s.points %> / <%= s.nbr_votes %></td>
    </tr>
  <% end %>
<% else %>
  <% hold_points = 0 %>
  <% hold_votes = 0 %>
  <% @credits.each_with_index do |c, i| %>
    <tr>
      <% if c.points == hold_points && c.nbr_votes == hold_votes %>
        <td>&nbsp;</td>
      <% else %>
        <td><%= i + 1 %></td>
      <% end %>
      <% hold_points = c.points %>
      <% hold_votes = c.nbr_votes %>
      <td><%= link_to c.person.name, results_credit_path(c, category: @category.id) %></td>
      <td><%= c.movie.title %></td>
      <td><%= c.points %> / <%= c.nbr_votes %></td>
    </tr>
  <% end %>
<% end %>
</table>
