<h2 id="results-title">Respondent Profiles</h2>

<p class="explanation">Self-explanatory, except for "Sel." This is the Selectivity index, which sorta vaguely suggests each participant's propensity to see films closer to the top of the ranked averages list than the bottom; a viewer seeing n films on the list would have an index of 100 if (s)he'd seen the top n films, and an index of zero if (s)he'd seen the bottom n.</p>

<table id="results-table">
  <tr>
    <th>Name</th>
    <th>N</th>
    <th>4</th>
    <th>3.5</th>
    <th>3</th>
    <th>2.5</th>
    <th>2</th>
    <th>1.5</th>
    <th>1</th>
    <th>0</th>
    <th>Avg.</th>
    <th>Sel.</th>
  </tr>
  <% @ballots.each do |b| %>
    <tr>
      <td><%= link_to b.user.name, results_ballot_path(b) %></td>
      <td><%= b.nbr_ratings %></td>
      <td><%= b.four_ratings %></td>
      <td><%= b.three_pt_five_ratings %></td>
      <td><%= b.three_ratings %></td>
      <td><%= b.two_pt_five_ratings %></td>
      <td><%= b.two_ratings %></td>
      <td><%= b.one_pt_five_ratings %></td>
      <td><%= b.one_ratings %></td>
      <td><%= b.zero_ratings %></td>
      <td><%= b.average_rating %></td>
      <td><%= b.selectivity_index %></td>
    </tr>
  <% end %>
</table>
