<h2 id="results-title"><%= @ballot.year.name %> ballot for <%= @ballot.user.name %></h2>


<div class="row ballot-categories">
  <% @categories.each do |category| %>
    <div class="small-12 medium-6 columns">
      <h3><%= category.display_name %></h3>
      <ul>
        <% @ballot.votes_by_points(category).each do |v| %>
          <li><%= v.object_display %><% if v.movie_display %>, <em><%= v.movie_display %></em><% end %> <%= v.points %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div id="ballot-top-ten">
  <h3>Top Ten List</h3>

  <ul>
  <% @ballot.top_ten_entries.by_rank.each do |tte| %>
    <% if tte.rank == 0 %>
      <li><%= tte.value %></li>
    <% else %>
      <li><%= tte.rank %>. <%= tte.value %></li>
    <% end %>
  <% end %>
  </ul>
</div>

<% if @ballot.user_id != 12 && @ballot.user_id != 25 %>
<div id="ballot-ratings">
  <h3>Ratings</h3>

  <ul>
  <% @ballot.ratings_by_movie_title.each do |r| %>
    <li><%= r.movie.title %> <%= r.value %></li>
  <% end %>
  </ul>
</div>
<% end %>




