<h2>Admin</h2>
<p>Best Picture
<%= link_to "View results", admin_view_leaders_votes_path(cat_id: 1) %></p>
<p>Best Director
<%= link_to "Edit", admin_edit_movies_path(cat_id: 2) %> |
<%= link_to "View results", admin_view_leaders_votes_path(cat_id: 2) %></p>
<p>Best Actress
<%= link_to "Edit", admin_edit_votes_path(cat_id: 3) %> |
<%= link_to "View results", admin_view_leaders_votes_path(cat_id: 3) %></p>
<p>Best Actor
<%= link_to "Edit", admin_edit_votes_path(cat_id: 4) %> |
<%= link_to "View results", admin_view_leaders_votes_path(cat_id: 4) %></p>
<p>Best Supporting Actor
<%= link_to "Edit", admin_edit_votes_path(cat_id: 5) %> |
<%= link_to "View results", admin_view_leaders_votes_path(cat_id: 5) %></p>
<p>Best Supporting Actress
<%= link_to "Edit", admin_edit_votes_path(cat_id: 6) %> |
<%= link_to "View results", admin_view_leaders_votes_path(cat_id: 6) %></p>
<p>Best Screenplay
<%= link_to "Edit", admin_edit_movies_path(cat_id: 7) %> |
<%= link_to "View results", admin_view_leaders_votes_path(cat_id: 7) %></p>
<p>Best Scene
<%= link_to "Edit", admin_edit_votes_path(cat_id: 8) %> |
<%= link_to "View results", admin_view_leaders_votes_path(cat_id: 8) %></p>
